.extra{
    margin-top: 80px;
}
li{
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 5px;
}
ul{
    border-radius: 10px;
    display:flexbox;
}
li a{
    color:white;
}
li a:visited{
    background-color: #F0AD4E;
    text-emphasis-color: black;
}
.active{
    font-weight: bold;
}