input{
    margin-top: 23px;
    font-style: italic;
    font-weight: 900;
    text-align: center; 
}
.ngx-pagination .current {
    padding: 0.1875rem 0.625rem;
    background: #fff107;
    cursor: default;
}