/* You can add global styles to this file, and also import other style files */
body{
    background-image: url(https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg?w=2000);
    background-size: cover ;
    font-family: 'Poppins', sans-serif;
}