.cd{
    margin: 30px;
    margin-top: 5px;
    background-image: url('../../assets/crackers.gif');
    background-repeat: repeat-x;
    border-radius: 10px;
    margin-left:70px;
}
.cd:hover{
    box-shadow: -5px 5px black;
    border: 1px solid;
    transform: scale(1.1);
    transition: all 0.4s ease 0s;
}

@media only screen and (max-width:600px){
    .cd{
        height:530px;
        width: 240px;
        margin: 10px;
        margin-right: 0px;
        margin-left: 10px;
        padding-left: 0px;
    }
    .prodimg{
        height: 300px;
        width: 240;
        margin-right: 0px;
      }
      .ribbon{
          padding-right: 0px;
      }
      .extra1{
          transform: translate(1%,0);
      }
}
@media screen and (min-width:992px){
    .prodimg{
        height: 300px;
        width:auto;
        margin:10px
    }
    .cd{
        height:550px;
        width:270px;
    }

    [data-aos].animated {
        visibility: visible;
      }
    .cd:hover{
        box-shadow: -5px 5px black;
        border: 1px solid;
        transform: scale(1.1);
        transition: all 0.4s ease 0s;
    }
}

a{
    display: inline-flex;
    text-align: center;
}
.ribbon-bookmark-v{
    background-color: crimson;
    text-align: center;
    text-emphasis-color: white;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
.ribbon{
    background-color: crimson;
    color:white;
    border-radius: 100px;
}
.tb{
    background-color: orangered;
}
.dk{
    background-color: blue;
}
.time{
    text-align: center;
    color: black;
    font-size: 50px;
    margin-top: 50px;
  }

.more{
    margin-top: 100px;
}